<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://39.105.26.229:3306/waibao"
                        userId="fanren"
                        password="StCwFAXrFFSMHPar">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.fanren.wx.app.pojo" targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper"  targetProject=".\src\main\resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.fanren.wx.app.dao"
                             targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>
        <!--<table tableName="user_list" domainObjectName="User" ></table>-->
        <!--<table tableName="student_list" domainObjectName="Student" ></table>-->
        <!--<table tableName="college_list" domainObjectName="College" ></table>-->
        <!--<table tableName="major_list" domainObjectName="Major" ></table>-->
        <!--<table tableName="class_list" domainObjectName="Class" ></table>-->
        <!--<table tableName="teacher_list" domainObjectName="Teacher" ></table>-->
        <!--<table tableName="curriculum_list" domainObjectName="Curriculum" ></table>-->
        <!--<table tableName="report_list" domainObjectName="Report" ></table>-->
        <!--<table tableName="resource_list" domainObjectName="Resource" ></table>-->
        <!--<table tableName="badworld_list" domainObjectName="Badworld" ></table>-->
        <!--<table tableName="attend_list" domainObjectName="Attend" />-->
        <!--<table tableName="exam_list" domainObjectName="Exam" />-->
        <!--<table tableName="kqclass_list" domainObjectName="Kqclass" />-->
        <table tableName="inform_list" domainObjectName="Inform" />
    </context>

</generatorConfiguration>