<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanren.wx.app.dao.ClassMapper">
  <resultMap id="BaseResultMap" type="com.fanren.wx.app.pojo.Class">
    <result column="class_ID" jdbcType="VARCHAR" property="classId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="major_ID" jdbcType="VARCHAR" property="majorId" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="headmaster_ID" jdbcType="VARCHAR" property="headmasterId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    class_ID, name, major_ID, student_number, headmaster_ID
  </sql>
  <select id="selectByExample" parameterType="com.fanren.wx.app.pojo.ClassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from class_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fanren.wx.app.pojo.ClassExample">
    delete from class_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fanren.wx.app.pojo.Class">
    insert into class_list (class_ID, name, major_ID, 
      student_number, headmaster_ID)
    values (#{classId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{majorId,jdbcType=VARCHAR}, 
      #{studentNumber,jdbcType=VARCHAR}, #{headmasterId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fanren.wx.app.pojo.Class">
    insert into class_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        class_ID,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="majorId != null">
        major_ID,
      </if>
      <if test="studentNumber != null">
        student_number,
      </if>
      <if test="headmasterId != null">
        headmaster_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        #{studentNumber,jdbcType=VARCHAR},
      </if>
      <if test="headmasterId != null">
        #{headmasterId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fanren.wx.app.pojo.ClassExample" resultType="java.lang.Long">
    select count(*) from class_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update class_list
    <set>
      <if test="record.classId != null">
        class_ID = #{record.classId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.majorId != null">
        major_ID = #{record.majorId,jdbcType=VARCHAR},
      </if>
      <if test="record.studentNumber != null">
        student_number = #{record.studentNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.headmasterId != null">
        headmaster_ID = #{record.headmasterId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update class_list
    set class_ID = #{record.classId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      major_ID = #{record.majorId,jdbcType=VARCHAR},
      student_number = #{record.studentNumber,jdbcType=VARCHAR},
      headmaster_ID = #{record.headmasterId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>