<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanren.wx.app.dao.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.fanren.wx.app.pojo.Resource">
    <id column="resource_id" jdbcType="INTEGER" property="resourceId" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="resource_dir" jdbcType="VARCHAR" property="resourceDir" />
    <result column="uploader_id" jdbcType="VARCHAR" property="uploaderId" />
    <result column="uploader_name" jdbcType="VARCHAR" property="uploaderName" />
    <result column="upload_time" jdbcType="VARCHAR" property="uploadTime" />
    <result column="download_number" jdbcType="VARCHAR" property="downloadNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    resource_id, resource_name, resource_dir, uploader_id, uploader_name, upload_time, 
    download_number
  </sql>
  <select id="selectByExample" parameterType="com.fanren.wx.app.pojo.ResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from resource_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from resource_list
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from resource_list
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fanren.wx.app.pojo.ResourceExample">
    delete from resource_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fanren.wx.app.pojo.Resource">
    insert into resource_list (resource_id, resource_name, resource_dir, 
      uploader_id, uploader_name, upload_time, 
      download_number)
    values (#{resourceId,jdbcType=INTEGER}, #{resourceName,jdbcType=VARCHAR}, #{resourceDir,jdbcType=VARCHAR}, 
      #{uploaderId,jdbcType=VARCHAR}, #{uploaderName,jdbcType=VARCHAR}, #{uploadTime,jdbcType=VARCHAR}, 
      #{downloadNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fanren.wx.app.pojo.Resource">
    insert into resource_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="resourceName != null">
        resource_name,
      </if>
      <if test="resourceDir != null">
        resource_dir,
      </if>
      <if test="uploaderId != null">
        uploader_id,
      </if>
      <if test="uploaderName != null">
        uploader_name,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="downloadNumber != null">
        download_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resourceId != null">
        #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="resourceName != null">
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceDir != null">
        #{resourceDir,jdbcType=VARCHAR},
      </if>
      <if test="uploaderId != null">
        #{uploaderId,jdbcType=VARCHAR},
      </if>
      <if test="uploaderName != null">
        #{uploaderName,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="downloadNumber != null">
        #{downloadNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fanren.wx.app.pojo.ResourceExample" resultType="java.lang.Long">
    select count(*) from resource_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update resource_list
    <set>
      <if test="record.resourceId != null">
        resource_id = #{record.resourceId,jdbcType=INTEGER},
      </if>
      <if test="record.resourceName != null">
        resource_name = #{record.resourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceDir != null">
        resource_dir = #{record.resourceDir,jdbcType=VARCHAR},
      </if>
      <if test="record.uploaderId != null">
        uploader_id = #{record.uploaderId,jdbcType=VARCHAR},
      </if>
      <if test="record.uploaderName != null">
        uploader_name = #{record.uploaderName,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadTime != null">
        upload_time = #{record.uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="record.downloadNumber != null">
        download_number = #{record.downloadNumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update resource_list
    set resource_id = #{record.resourceId,jdbcType=INTEGER},
      resource_name = #{record.resourceName,jdbcType=VARCHAR},
      resource_dir = #{record.resourceDir,jdbcType=VARCHAR},
      uploader_id = #{record.uploaderId,jdbcType=VARCHAR},
      uploader_name = #{record.uploaderName,jdbcType=VARCHAR},
      upload_time = #{record.uploadTime,jdbcType=VARCHAR},
      download_number = #{record.downloadNumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanren.wx.app.pojo.Resource">
    update resource_list
    <set>
      <if test="resourceName != null">
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceDir != null">
        resource_dir = #{resourceDir,jdbcType=VARCHAR},
      </if>
      <if test="uploaderId != null">
        uploader_id = #{uploaderId,jdbcType=VARCHAR},
      </if>
      <if test="uploaderName != null">
        uploader_name = #{uploaderName,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="downloadNumber != null">
        download_number = #{downloadNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanren.wx.app.pojo.Resource">
    update resource_list
    set resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_dir = #{resourceDir,jdbcType=VARCHAR},
      uploader_id = #{uploaderId,jdbcType=VARCHAR},
      uploader_name = #{uploaderName,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=VARCHAR},
      download_number = #{downloadNumber,jdbcType=VARCHAR}
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </update>
</mapper>